<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Pókerarc admin</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
        <script src="jquery.min.js"></script>
        <script src="socket.io-1.2.0.js"></script>
        <script src="admin.js"></script>
        <style>
            .float{
                float:left;
            }
            .separated{
                margin-bottom:20px;
            }
            .marginal{
                margin-left:10px;
                margin-top:10px;
            }
            .fcontain{
                overflow:hidden;
            }
            .font {
                font-size: 20px;
                margin-left: 20px;
            }
            #roundEnd {
                display:none;
            }
        </style>
    </head>
    <body>
        <div class="marginal">
            <div class="separated">
                Admin jelszó:
                <input type="text" id="pw"/>
                <button class="btn btn-success" onclick="sendPw()">OK</button>
            </div>
            <div id="question"></div>
            <div class="separated">
                <span class="font" id="tda">A</span>
                <span class="font" id="answera"></span>
            </div>
            <div class="separated">
                <span class="font" id="tdb">B</span>
                <span class="font" id="answerb"></span>
            </div>
            <div class="separated">
                <span class="font" id="tdc">C</span>
                <span class="font" id="answerc"></span>
            </div>
            <div class="separated">
                <button onclick="newQuestion()"  class="btn btn-primary" id="newQuestion">Új kérdés</button>
                <button onclick="sendQuestion()" disabled="false" class="btn btn-primary" id="sendQuestion">Kérdés küldése</button>
            </div>
            <div class="separated">
                <select id="playerSelect"></select>
                <button onclick="dropPlayer()" class="btn btn-danger">Kiesett</button>
            </div>
            <div class="separated">
                <button onclick="dropLast()" class="btn btn-danger">Utolsó játékos kiesett</button>
                <span id="lastPlayer" class="font"></span>
            </div>
            <button onclick="newGame()" class="separated btn btn-primary">Új játék</button>
            <div id="roundEnd" class="font">Kör Vége!</div>
            <table id="playerrankings">
            
            </table>
        </div>
    </body>
</html> 