<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Pókerarc</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="main.css" />
        <script src="jquery.min.js"></script>
        <script src="socket.io-1.2.0.js"></script>
        <script src="pokerface.js"></script>
    </head>
    <body>
        <div id="setName">
            <div class="separated verticalcenter">Csapatod:</div>
            <div>
                <input type="text" class="form-control" placeholder="Csapatnév" id="team"/>
            </div>
            <div class="separated verticalcenter">Neved:</div>
            <div>
                <input type="text" class="form-control" placeholder="Név" id="name"/>
            </div>
            <div>
                <button class="btn btn-success separated" onclick="sendName()">OK</button>
            </div>
        </div>
        <div id="waittext" class="font">
            Kérlek várj amíg elkezdődik a játék
        </div>
        <div border="0" id="questionaire">
            <div>
                <div id="question" class="font" colspan="6"></div>
            </div>
            <div class="answercontainer separated">
                <div>
                    <button class="btn fleft" id="answerButtona" onclick="sendAnswer('a')">A</button>
                </div>
                <div id="answera" class="font fleft"></div>
            </div>
            <div class="answercontainer separated">
                <div>
                    <button class="btn fleft" id="answerButtonb" onclick="sendAnswer('b')">B</button>
                </div>
                <div id="answerb" class="font fleft"></div>
            </div>
            <div class="answercontainer separated">
                <div>
                    <button class="btn fleft" id="answerButtonc" onclick="sendAnswer('c')">C</button>
                </div>
                <div id="answerc" class="font fleft"></div>
            </div>
        </div>
        <div id="correctAnswers" style="display:none"></div>
    </body>
</html> 