<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" /> 
        <title>Pókerarc</title>
        <script src="jquery.min.js"></script>
        <script src="socket.io-1.2.0.js"></script>
        <script>
            var socket = io();
            var lastAnswer = null;
            var firstQuestion;
            
            socket.on('question', function(data) {
                $('#answerButtona').css("background", "transparent");
                $('#answerButtonb').css("background", "transparent");
                $('#answerButtonc').css("background", "transparent");
                $('#answera's("background", "transparent");
                $('#answerb's("background", "transparent");
                $('#answerc').css("background", "transparent");
                
                $('#question').val(data.question);
                $('#answera').val(data.answers[0]);
                $('#answerb').val(data.answers[1]);
                $('#answerc').val(data.answers[2]);
                lastAnswer = null;
                
                if(firstQuestion) {
                    firstQuestion = false;
                    $('#questionaire').css("display", "block");
                }
            });
            
            socket.on('correct', function(correctAnswer) {
                if(lastAnswer) {
                    $('#answerButton' + lastAnswer).css("background", "red");
                    $('#answer' + lastAnswer).css("background", "red");
                    lastAnswer = null;
                }
                
                $('#answerButton' + correctAnswer).css("background", "green");
                $('#answer' + correctAnswer).css("background", "green");
            });
            
            socket.on('score', function(score) {
                $('correctAnswers').html('Ebben a körben a jó válaszaid száma: ' + score); 
                $('#questionaire').css("display", "none");
                $('#correctAnswers').css("display", "block");
                firstQuestion = true;
            });
            
            function sendAnswer(ansLetter) {
                if(!lastanswer) {
                    socket.emit('answer', ansLetter);
                    $('#answerButton' + ansLetter).css("background", "yellow");
                    $('#answer' + ansLetter).css("background", "yellow");
                    lastAnswer = ansLetter;
                }
            }
            
            function sendName() {
                var name = $('#name').val();
                socket.emit('username', name);
                $('#setName').css("display", "none");
                firstQuestion = true;
                //$('#questionaire').css("display", "block");
            }
        </script>
    </head>
    <body>
        <table id="setName">
            <tr>
                <td>Add meg a neved:</td>
                <td><input type="text" id="name"/></td>
                <td><button onclick="sendName()">OK</button></td>
            </tr>
        <table border="0" id="questionaire" style="display:none">
            <tr>
                <td id="question" colspan="6"></td>
            </tr>
            <tr>
                <td><button id="answerButtona" onclick="sendAnswer('a')">A</button></td>
                <td id="answera"></td>
                <td><button id="answerButtonb" onclick="sendAnswer('b')">B</button></td>
                <td id="answerb"></td>
                <td><button id="answerButtonc" onclick="sendAnswer('c')">C</button></td>
                <td id="answerc"></td>
            </tr>
        </table>
        <div id="correctAnswers" style="display:none"></div>
    </body>
</html> 