
#setName {
	margin-top: 20px;
	margin-left: 15px;
    width: 300px;
}

#questionaire {
	margin-top: 20px;
	margin-left: 15px;
    display: none;
}

#waittext {
	margin-top: 20px;
	margin-left: 15px;
    display: none;
}

#correctAnswers {
	margin-left: 15px;
	display: none;
}

.form-control1 {
	margin-right: 8px;
	margin-left: 8px;
}

.separated {
	margin-top: 8px;
	margin-bottom: 8px;
}

.verticalcenter {
	margin-top: 6px;
}

.btn {
	border: 1px solid black;
}

.font {
	font-size: 20px;
    margin-left: 20px;
}

.answercontainer {
    overflow:hidden;
}

.fleft {
    float:left;
}